#nineties {
	font-size: 75px;
	color: #FA02D9;
	font-style: italic;
    font-style: bold;
}
#story {
	font-size: 36px;
	color: pink;
}
body {background: blue;}

.story {
	font-size: 36px;
	color: pink;
}

img {
    display: table;
    margin:  0 auto;
    width: 500px;
    height: 500px;
}
